<div class="BWASP-navigation commonPadding">
    <a class="bg-primary text-decoration-none text-white shadow sizer element-top center-horizontal center-vertical border-rounded"
       href="/">
        <h4 class="text-decoration-none text-white mb-0 font-logo">BWASP</h4>
    </a>
    <!-- btn-toggle-nav list-unstyled fw-normal pb-1 small -->
    <div class="bg-white shadow text-dark sizer element-sidebar border-rounded separatedTab">
        <div class="sidebar-category">
            <p class="sidebar-element-title collapsed">
                <a href="/dashboard"><i class="bi bi-activity"></i> Dashboard</a>
            </p>
            <hr>
            <p class="sidebar-title">Interface</p>
            <ul class="sidebar-element list-unstyled mb-auto">
                <li class="sidebar-element">
                    <p class="sidebar-element-title collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                        <i class="bi bi-play-fill"></i> Start
                    </p>
                    <div class="sidebar-element-content collapse shadow border-rounded" id="home-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="/automation/options" class="link-dark rounded"><i class="bi bi-gear-fill"></i> Automated</a></li>
                            <li><a href="#" class="link-dark rounded"><i class="bi bi-people-fill"></i> Manual</a></li>
                        </ul>
                    </div>
                </li>
                <li class="sidebar-element mt-2">
                    <p class="sidebar-element-title collapsed">
                        <a href="/common/attack_vector"><i class="bi bi-activity"></i> Attack Vectors</a>
                    </p>
                </li>
            </ul>
        </div>
    </div>

    <% include footer.ejs %>

</div>