<!DOCTYPE html>
<html lang="en">

{% include 'components/head.html' %}

<body>
<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="border-rounded shadow modal-storage">
                <h3 class="text-dark fw-bolder mb-3">Manual</h3>
                <p class="mb-0">Click <span class="text-primary">URL</span> to check all payloads.</p>
                <p class="mb-0">Click <span class="text-primary">Payload Detail</span> to view related packets.</p>
            </div>
            <div class="border-rounded shadow mt-3">
                <button type="button" class="btn btn-success border border-white w-100" data-bs-dismiss="modal">Dismiss</button>
            </div>
        </div>
    </div>
</div>
{% include 'components/sidebar.html' %}
<div class="commonPadding w-100">
    <div class="d-inline-flex sizer element-top">
        <div class="bg-white h-100 text-dark p-4 pt-3 pb-3 w-100 sizer center-horizontal border-rounded shadow">
            <h4 class="text-decoration-none mb-0 font-logo" id="pageTitle">Loading...</h4>
        </div>
    </div>
    <div class="bg-white shadow text-dark sizer element-objects border-rounded separatedTab">
        <div class="p-4 w-100 actualContent">
            <div class="p-2 mb-3 border-rounded shadow d-inline-flex w-100">
                <a href="#" class="btn border-rounded btn-outline-success" id="openHelpModal"><i class="fas fa-question"></i> Help</a>
                <a href="#" class="ms-2 btn border-rounded btn-outline-primary" id="switchToPacket"><i class="fas fa-random"></i> <span id="switchToType">Packet</span></a>
            </div>
            <div class="p-4 border-rounded shadow">
                <div id="loadingProgress">
                    <div class="pt-5 pb-5 d-flex align-items-center justify-content-center">
                        <div class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <h3 class="ms-3 mb-0 text-dark">Loading in progress...</h3>
                    </div>
                </div>
                <div id="resultNoData" class="d-none">
                    <div class="pt-5 pb-5 d-flex align-items-center justify-content-center text-danger">
                        <h3 class="mb-0">
                            <i class="fa fa-ban"></i>
                        </h3>
                        <h3 class="ms-3 mb-0">No data.</h3>
                    </div>
                </div>
                <div class="table-responsive" id="tablePlace"></div>
            </div>
            <div class="p-2 mt-3 border-rounded d-inline-flex justify-content-center align-items-center shadow w-100">
                <div class="d-inline-flex m-2">
                    <p class="mb-0">Row per page : 10</p>
                    <a href="#" class="text-decoration-none ms-1"><i class="bi bi-pencil-fill"></i></a>
                </div>
                <ul class="ms-auto pagination m-2">
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script type="module" src="{{ url_for('static', filename='js/page/attackVector.js') }}"></script>
<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>
</body>
</html>