<!DOCTYPE html>
<html lang="en">

{% include 'components/head.html' %}

<body>
{% include 'components/sidebar.html' %}
<div class="p-4 pt-4 w-100">
    <div class="d-inline-flex w-100 mb-3">
        <div class="sizer element-top center-horizontal">
            <div class="content-page-icon content-page-icon-sizing rounded-custom">
                <i class="bi bi-check2-square"></i>
            </div>
            <div>
                <h4 class="text-decoration-none mb-0 font-logo" id="pageTitle">Analysis Mode Selection</h4>
                <p class="mb-0 text-muted small" id="pageTitle_sub"></p>
            </div>
        </div>
        <div class="sizer element-top center-horizontal ms-auto"></div>
    </div>
    <div class="bg-white text-dark sizer element-objects separatedTab">
        <div class="w-100">
            <div class="container-fluid d-flex justify-content-center align-items-center h-100">
                <div class="row">
                    <h5 class="col-md-12 text-center mb-5">Please select the analysis mode.</h5>
                    <div class="col-md-6 p-2">
                        <a class="btn btn-outline-danger shadow p-2 pl-3 pr-3 ml-2 w-100 border-rounded" href="/automation/options">Automated</a>
                    </div>
                    <div class="col-md-6 p-2">
                        <a class="btn btn-outline-success shadow p-2 pl-3 pr-3 ml-2 w-100 border-rounded">Manual</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>
</body>
</html>