<!DOCTYPE html>
<html lang="en">

{% include 'components/head.html' %}

<body>
{% include 'components/sidebar.html' %}
<div class="commonPadding w-100">
    <div class="d-inline-flex sizer element-top">
        <div class="bg-white h-100 text-dark p-4 pt-3 pb-3 w-100 sizer center-horizontal border-rounded shadow">
            <h4 class="text-decoration-none mb-0">Analysis Mode Selection</h4>
        </div>
    </div>
    <div class="bg-white shadow text-dark sizer element-objects border-rounded separatedTab">
        <div class="p-4 w-100" id="job-order">
            <div class="container-fluid d-flex justify-content-center align-items-center h-100">
                <div class="row">
                    <h5 class="col-md-12 text-center mb-5">Please select the analysis mode.</h5>
                    <div class="col-md-6 p-2">
                        <a class="btn btn-outline-danger shadow p-2 pl-3 pr-3 ml-2 w-100 border-rounded" href="/automation/options">Automated</a>
                    </div>
                    <div class="col-md-6 p-2">
                        <a class="btn btn-outline-success shadow p-2 pl-3 pr-3 ml-2 w-100 border-rounded">Manual</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>
</body>
</html>