Flask==2.0.1
flask_cors==3.0.10
flask_restx==0.5.1
Flask-SQLAlchemy==2.5.1
selenium-wire==4.5.2
requests==2.26.0
SQLAlchemy==1.4.25
beautifulsoup4==4.10.0
webdriver-manager==3.5.2
regex==2021.8.28
click==8.0.1
Flask-Migrate==3.1.0
mysql-connector-python==8.0.27
PyMySQL==1.0.2
