/* Font-family */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700&display=swap');

.text-title{
    font-family: 'Montserrat', sans-serif;
}

:root{
    /* Color variables */
    --material-grey: #B0BEC5;
    /* Sizing */
    --unified-margin: 15px;
    --sizing-top: 65px;
    --sizing-sidebar: calc(100% - var(--sizing-top) - var(--unified-margin));
    --sizing-body: calc(100% - var(--sizing-top) - var(--sizing-footer) - var(--unified-margin));
    --sizing-footer: 60px;
}

/* Common fonts */
@font-face {
    font-family: 'Vice City Sans Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Vice City Sans Regular'), url('/static/fonts/ViceCitySans.woff') format('woff');
}
.font-logo {
    font-family: "Vice City Sans Regular", serif !important;
}

.border-rounded{
    border-radius: .5rem !important;
}

.sizer.center-horizontal{
    align-items: center !important;
}

.sizer.center-vertical{
    justify-content: center !important;
}

.sizer>.sidebar-elements{
    padding: 15px;
}


.BWASP-navigation {
    width: 300px !important;
}

.commonPadding {
    padding: .5rem!important;
}

.sidebar-elements{
    width: 100% !important;
}

.sidebar-elements>.sidebar-title{
    color: var(--material-grey) !important;
    font-weight: bold !important;
    font-size: .875em;
    text-transform: uppercase !important;
    margin-bottom: .25rem !important;
}