<!DOCTYPE html>
<html lang="en">

{% include 'components/head.html' %}

<body>
<div class="modal fade" id="disableRiskLock">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border border-danger rounded-custom">
            <div class="modal-body border border-danger rounded-custom">
                <h5 class="fw-bold text-danger text-center">Important Precautions</h5>
                <hr>
                <p>By unlocking this protection option, you will be able to access few more features.</p>
                <p>
                    But, these options can <span class="text-danger"><u>undermine the availability</u></span> of the
                    target service
                    and you will agree that all parties including you are responsible for this not BWASP.
                </p>
                <p>Click "Unlock" if you are agree of responsibility policy above.</p>
                <div class="d-flex">
                    <button type="button" class="btn btn-secondary rounded-custom ms-auto" data-bs-dismiss="modal">Keep
                        it Locked
                    </button>
                    <button type="button" class="btn btn-danger rounded-custom ms-2" id="unlockRiskLock">Unlock</button>
                </div>
                <hr>
                <p class="mt-2 mb-0 text-muted small text-center">
                    You will not be able to revert this change before reload the page
                    <span class="text-danger text-uppercase">Do at your own risk</span>
                </p>
            </div>
        </div>
    </div>
</div>

{% include 'components/sidebar.html' %}
<div class="commonPadding w-100">
    <div class="d-inline-flex sizer element-top">
        <div class="bg-white h-100 text-dark p-4 pt-3 pb-3 w-100 sizer center-horizontal border-rounded shadow">
            <h4 class="text-decoration-none mb-0 font-logo">Analysis Option</h4>
        </div>
    </div>
    <div class="bg-white shadow text-dark sizer element-objects border-rounded separatedTab">
        <div class="p-4 w-100" id="job-order">
            <section class="h-100">
                <section class="h-10">
                    <section class="d-flex align-items-start animate__animated animate__fadeInDown d-none"
                             id="document-top">
                        <div class="d-flex align-items-center w-100">
                            <div class="me-auto">
                                <h3 class="mb-1 fw-bold" id="stepName">Analysis Target</h3>
                                <p class="mb-0 text-muted small" id="stepDescription"></p>
                            </div>
                            <nav class="p-3 rounded-custom border shadow-sm" style="--bs-breadcrumb-divider: '>';"
                                 aria-label="breadcrumb">
                                <ol class="breadcrumb mb-0" id="stepsView">
                                </ol>
                            </nav>
                        </div>
                    </section>
                </section>
                <section class="h-80">
                    <section class="d-flex align-items-center h-100 w-100 animate__animated animate__backInUp d-none"
                             id="tab-availabilityCheck-fail">
                        <div class="w-100 d-flex align-items-center justify-content-center p-4 text-danger">
                            <h3 class="mb-1"><i class="bi bi-exclamation-circle"></i></h3>
                            <h3 class="mb-1 ms-4 text-uppercase">Job already in progress.</h3>
                        </div>
                    </section>
                    <section class="d-flex align-items-center h-100 w-100" id="tab-availabilityCheck">
                        <div class="w-100 d-flex align-items-center p-4">
                            <div class="spinner-border text-dark" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            <h3 class="mb-1 ms-4">Checking availability...</h3>
                        </div>
                    </section>
                    <section
                            class="d-flex align-items-center h-100 w-100 animate__fadeIn animate__animated separatedTab d-none"
                            id="tab-0">
                        <section class="w-100">
                            <p class="text-muted mb-3">Input target URL to start analysis.</p>
                            <div class="form-floating w-100">
                                <input type="text" class="form-control" id="input-targetURL"
                                       placeholder="Analysis target URL" aria-describedby="regexViolence-targetURL"
                                       value="http://suninatas.com/">
                                <label for="input-targetURL">Target URL</label>
                            </div>
                        </section>
                    </section>
                    <section class="d-flex h-100 w-100 separatedTab d-none" id="tab-1">
                        <section class="w-100">
                            <section class="row" id="sampleHere"></section>
                        </section>
                    </section>
                    <section class="h-100 w-100 separatedTab d-none" id="tab-2">
                        <section class="w-100 row">
                            <h3 class="col-md-12 mt-3 mb-3 text-success fw-bold">Essential</h3>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="d-flex">
                                        <label for="input-recursiveLevel">Analysis recursive level</label>
                                        <p class="mb-0 ms-auto small text-muted">Max: <span id="maximumRecursiveLevel">NaN</span>
                                        </p>
                                    </div>
                                    <div class="d-flex align-items-center mt-2">
                                        <input class="border border-white" type="number" id="input-recursiveLevel">
                                        <input type="range" class="form-range" id="slider-recursiveLevel">
                                    </div>
                                </div>
                                <div class="d-flex mt-2">
                                    <p class="mb-0 text-muted small">Set link recursive level of BWASP auto
                                        analysis.</p>
                                </div>
                            </div>
                            <div class="col-md-12 mt-3">
                                <div class="form-group">
                                    <div class="d-flex">
                                        <label for="input-maximumProcesses">Maximum Processes</label>
                                        <p class="mb-0 ms-auto small text-muted">Max: <span id="maximumProcessesView">NaN</span>
                                        </p>
                                    </div>
                                    <div class="d-flex align-items-center mt-2">
                                        <input class="border border-white" type="number" id="input-maximumProcesses">
                                        <input type="range" class="form-range" id="slider-maximumProcesses">
                                    </div>
                                </div>
                                <div class="d-flex mt-2">
                                    <p class="mb-0 text-muted small">Limit maximum processes of BWASP analysis.</p>
                                    <p class="mb-0 ms-auto text-muted small">0 : Infinite</p>
                                </div>
                            </div>
                            <hr class="col-md-12 mt-4 mb-4">
                        </section>
                        <section class="row">
                            <div class="col-md-12 mt-3 d-flex align-items-center" id="optionsHead">
                                <h3 class="text-primary fw-bold mb-0">Optional</h3>
                                <button type="button" class="btn rounded-custom btn-danger ms-auto"
                                        id="call-disableRiskLock">
                                    Disable Risk Lock
                                </button>
                            </div>
                            <section class="mt-3">
                                <section class="d-flex align-items-center mb-3">
                                    <h5 class="fw-bold mb-0">Options</h5>
                                    <p class="text-muted small ms-3 mt-1 mb-0">Select the options that can analyze more
                                        accurately</p>
                                </section>
                                <section class="row" id="optionsViewPlace"></section>
                            </section>
                            <section class="mt-3">
                                <section class="d-flex align-items-center mb-3">
                                    <h5 class="fw-bold mb-0">Google Search API</h5>
                                    <p class="text-muted small ms-3 mt-1 mb-0">Google Search API will used to analyze
                                        for OWASP-Based analysis.</p>
                                </section>
                                <section class="row" id="googleSearchAPIForm">
                                    <div class="col-md-6">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="googleSearchAPI-APIKey"
                                                   placeholder="Google Search API Key">
                                            <label for="googleSearchAPI-APIKey">Google Search API Key</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="googleSearchAPI-engineID"
                                                   placeholder="Search Engine ID">
                                            <label for="googleSearchAPI-engineID">Search Engine ID</label>
                                        </div>
                                    </div>
                                </section>
                            </section>
                        </section>
                    </section>
                    <section class="h-100 w-100 separatedTab d-none" id="tab-3">
                        <section class="w-100">
                            <section>
                                <h5 class="text-muted small">Target URL</h5>
                                <p id="overview-targetURL">undefined</p>
                                <hr>
                            </section>
                            <section>
                                <div class="d-flex mb-2">
                                    <p class="text-muted small mb-0">Analysis recursive level: </p>
                                    <p class="small text-primary ms-2 mb-0" id="overview-recursiveLevel">NaN</p>
                                </div>
                                <div class="d-flex">
                                    <p class="text-muted small mb-0">Maximum Processes: </p>
                                    <p class="small text-primary ms-2 mb-0" id="overview-maximumProcess">NaN</p>
                                </div>
                                <hr>
                            </section>
                            <section>
                                <h5 class="text-muted small">Environmental Information</h5>
                                <section class="d-flex" id="overview-environment"></section>
                                <hr>
                            </section>
                            <section>
                                <h5 class="text-muted small">Selected Options</h5>
                                <section class="d-flex" id="overview-options"></section>
                                <hr>
                            </section>
                            <section>
                                <p class="text-muted small mb-3">Google Search API</p>
                                <div class="d-flex mb-2">
                                    <p class="text-muted small mb-0">API Key: </p>
                                    <p class="small text-primary ms-2 mb-0" id="overview-googleSearchAPI-APIKey">undefined</p>
                                </div>
                                <div class="d-flex">
                                    <p class="text-muted small mb-0">Search Engine ID: </p>
                                    <p class="small text-primary ms-2 mb-0" id="overview-googleSearchAPI-engineID">undefined</p>
                                </div>
                            </section>
                        </section>
                    </section>
                </section>
                <section class="h-10">
                    <div class="d-flex align-items-end animate__animated animate__fadeInUp h-100 d-none"
                         id="document-bottom">
                        <a class="p-2 ps-3 pe-3 text-danger text-decoration-none rounded-custom d-none" id="document-bottom-back" href="#">
                            <i class="bi bi-arrow-left"></i> Back
                        </a>
                        <a class="p-2 ps-3 pe-3 ms-auto btn-primary text-decoration-none animate__animated animate__fadeInUp rounded-custom" id="document-bottom-next" href="#">
                            <span id="document-bottom-next-text">Proceed</span>
                            <i class="bi bi-arrow-right"></i>
                        </a>
                        <a class="p-2 ps-3 pe-3 ms-auto btn-success text-decoration-none animate__animated animate__fadeInUp rounded-custom d-none" id="document-bottom-submit" href="#">
                            <span id="document-bottom-next-text">Submit</span>
                            <i class="ms-2 bi bi-calendar-plus"></i>
                        </a>
                    </div>
                </section>
            </section>
        </div>
    </div>
</div>
<script type="module" src="{{ url_for('static', filename='js/page/options.js') }}"></script>
</body>
</html>