<!DOCTYPE html>
<html lang="ko">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ Title }}</title>

    <!-- Custom fonts for this template-->
    <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet"
          type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{{ url_for('static', filename='css/sb-admin-2.min.css') }}" rel="stylesheet">
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">
    {% include 'components/sidebar.html' %}

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Search -->
                <div class="d-flex w-100 justify-content-center">
                    <h3 class="mb-0">자동 분석 옵션 설정</h3>
                </div>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                             aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small"
                                           placeholder="Search for..." aria-label="Search"
                                           aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>

                    <!-- Nav Item - Alerts -->
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-bell fa-fw"></i>
                            <!-- Counter - Alerts -->
                            <span class="badge badge-danger badge-counter">3+</span>
                        </a>
                        <!-- Dropdown - Alerts -->
                        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="alertsDropdown">
                            <h6 class="dropdown-header">
                                Alerts Center
                            </h6>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-primary">
                                        <i class="fas fa-file-alt text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500">December 12, 2019</div>
                                    <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-success">
                                        <i class="fas fa-donate text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500">December 7, 2019</div>
                                    $290.29 has been deposited into your account!
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-warning">
                                        <i class="fas fa-exclamation-triangle text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500">December 2, 2019</div>
                                    Spending Alert: We've noticed unusually high spending for your account.
                                </div>
                            </a>
                            <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                        </div>
                    </li>

                    <!-- Nav Item - Messages -->
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-envelope fa-fw"></i>
                            <!-- Counter - Messages -->
                            <span class="badge badge-danger badge-counter">7</span>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="messagesDropdown">
                            <h6 class="dropdown-header">
                                Message Center
                            </h6>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle"
                                         src="{{ url_for('static', filename='img/undraw_profile_1.svg') }}"
                                         alt="...">
                                    <div class="status-indicator bg-success"></div>
                                </div>
                                <div class="font-weight-bold">
                                    <div class="text-truncate">Hi there! I am wondering if you can help me with a
                                        problem I've been having.
                                    </div>
                                    <div class="small text-gray-500">Emily Fowler · 58m</div>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle"
                                         src="{{ url_for('static', filename='img/undraw_profile_2.svg') }}g"
                                         alt="...">
                                    <div class="status-indicator"></div>
                                </div>
                                <div>
                                    <div class="text-truncate">I have the photos that you ordered last month, how
                                        would you like them sent to you?
                                    </div>
                                    <div class="small text-gray-500">Jae Chun · 1d</div>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle"
                                         src="{{ url_for('static', filename='img/undraw_profile_3.svg') }}"
                                         alt="...">
                                    <div class="status-indicator bg-warning"></div>
                                </div>
                                <div>
                                    <div class="text-truncate">Last month's report looks great, I am very happy with
                                        the progress so far, keep up the good work!
                                    </div>
                                    <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                                         alt="...">
                                    <div class="status-indicator bg-success"></div>
                                </div>
                                <div>
                                    <div class="text-truncate">Am I a good boy? The reason I ask is because someone
                                        told me that people say this to all dogs, even if they aren't good...
                                    </div>
                                    <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                </div>
                            </a>
                            <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                        </div>
                    </li>

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">Douglas McGee</span>
                            <img class="img-profile rounded-circle"
                                 src="{{ url_for('static', filename='img/undraw_profile.svg') }}">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profile
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                Settings
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                Activity Log
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div class="row bg-white border rounded shadow p-4">
                    <h3 class="col-md-12 mb-3 text-muted"><span class="font-weight-bold text-dark">웹 프로그램 정보</span> (선택사항)</h3>
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <a href="#WebServerSelection" class="d-block card-header py-3" data-toggle="collapse"
                               role="button" aria-expanded="false" aria-controls="WebServerSelection">
                                <h6 class="m-0 font-weight-bold text-primary">웹 서버</h6>
                            </a>
                            <div class="collapse" id="WebServerSelection" style="">
                                <div class="card-body">
                                    <div class="form-group mb-0">
                                        <div class="custom-control custom-checkbox small">
                                            <input type="checkbox" class="custom-control-input"
                                                   id="Info-WebServer-Apache">
                                            <label class="custom-control-label pt-1"
                                                   for="Info-WebServer-Apache">Apache ( v. <input class="border border-white w-50" type="text" min="0" id="Info-WebServer-Apache-Version" placeholder="버전(예: 1.0)"> )</label>
                                        </div>
                                    </div>
                                    <div class="form-group mb-0">
                                        <div class="custom-control custom-checkbox small">
                                            <input type="checkbox" class="custom-control-input"
                                                   id="Info-WebServer-Nginx">
                                            <label class="custom-control-label pt-1"
                                                   for="Info-WebServer-Nginx">Nginx ( v. <input class="border border-white w-50" type="text" min="0" id="Info-WebServer-Nginx-Version" placeholder="버전(예: 1.0)"> )</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <a href="#WebFrameworkSelection" class="d-block card-header py-3" data-toggle="collapse"
                               role="button" aria-expanded="false" aria-controls="WebFrameworkSelection">
                                <h6 class="m-0 font-weight-bold text-primary">웹 프레임워크 / 라이브러리</h6>
                            </a>
                            <div class="collapse" id="WebFrameworkSelection" style="">
                                <div class="card-body">
                                    <div class="form-group mb-0">
                                        <div class="custom-control custom-checkbox small">
                                            <input type="checkbox" class="custom-control-input"
                                                   id="Info-Frameworks-React">
                                            <label class="custom-control-label pt-1"
                                                   for="Info-Frameworks-React">React ( v. <input class="border border-white w-50" type="text" min="0" id="Info-Framework-React-Version" placeholder="버전(예: 1.0)"> )</label>
                                        </div>
                                    </div>
                                    <div class="form-group mb-0">
                                        <div class="custom-control custom-checkbox small">
                                            <input type="checkbox" class="custom-control-input"
                                                   id="Info-Frameworks-Angular">
                                            <label class="custom-control-label pt-1" for="Info-Frameworks-Angular">Angular.JS ( v. <input class="border border-white w-50" type="text" min="0" id="Info-Framework-AngularJS-Version" placeholder="버전(예: 1.0)"> )</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <a href="#WebBackendSelection" class="d-block card-header py-3" data-toggle="collapse"
                               role="button" aria-expanded="false" aria-controls="WebBackendSelection">
                                <h6 class="m-0 font-weight-bold text-primary">백엔드 시스템</h6>
                            </a>
                            <div class="collapse" id="WebBackendSelection" style="">
                                <div class="card-body">
                                    <div class="form-group mb-0">
                                        <div class="custom-control custom-checkbox small">
                                            <input type="checkbox" class="custom-control-input" id="Info-Backend-Flask">
                                            <label class="custom-control-label pt-1"
                                                   for="Info-Backend-Flask">Flask ( v. <input class="border border-white w-50" type="text" min="0" id="Info-Backend-Flask-Version" placeholder="버전(예: 1.0)"> )</label>
                                        </div>
                                    </div>
                                    <div class="form-group mb-0">
                                        <div class="custom-control custom-checkbox small">
                                            <input type="checkbox" class="custom-control-input"
                                                   id="Info-Backend-Django">
                                            <label class="custom-control-label pt-1"
                                                   for="Info-Backend-Django">Django ( v. <input class="border border-white w-50" type="text" min="0" id="Info-Backend-Django-Version" placeholder="버전(예: 1.0)"> )</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h3 class="col-md-12 mt-5 mb-3 text-dark font-weight-bold">도구 설정</h3>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="ToolLevel">탐색 깊이 (레벨)</label>
                            <div class="d-flex align-items-center">
                                <input class="border border-white" type="number" min="1" max="5000" value="1" id="ToolRecursiveLevelInput">
                                <input type="range" class="form-control" min="1" max="5000" value="1" id="ToolRecursiveLevelSlider">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="ToolURLPath">URL 경로 지정</label>
                            <input type="text" class="form-control p-4 rounded-pill" id="ToolURLPath"
                                   placeholder="URL 경로 지정">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="AdditionalFunctions">추가 기능</label>
                            <div class="card mb-4" id="AdditionalFunctions">
                                <a href="#additionalFuncs" class="d-block card-header py-3" data-toggle="collapse"
                                   role="button" aria-expanded="false" aria-controls="additionalFuncs">
                                    <h6 class="m-0 font-weight-bold text-primary">추가 기능 선택</h6>
                                </a>
                                <div class="collapse" id="additionalFuncs" style="">
                                    <div class="card-body">
                                        <div class="form-group mb-0">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" id="fnc-port-scan">
                                                <label class="custom-control-label pt-1" for="fnc-port-scan">포트 스캔 (알려진
                                                    포트)</label>
                                            </div>
                                        </div>
                                        <div class="form-group mb-0">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input"
                                                       id="fnc-csp-evaluate">
                                                <label class="custom-control-label pt-1" for="fnc-csp-evaluate">CSP
                                                    평가</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 p-2">
                        <p class="btn btn-danger shadow p-2 pl-3 pr-3 ml-2 w-100" id="ClearAllData">초기화</p>
                    </div>
                    <div class="col-md-6 p-2">
                        <a class="btn btn-success shadow p-2 pl-3 pr-3 ml-2 w-100" href="#">분석 수행</a>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        {% include 'components/footer.html' %}

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<!-- Core plugin JavaScript-->
<script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>
<!-- Custom scripts for all pages-->
<script src="{{ url_for('static', filename='js/sb-admin-2.min.js') }}"></script>
<!-- Page level plugins -->
<script src="{{ url_for('static', filename='vendor/chart.js/Chart.min.js') }}"></script>
<!-- Page level custom scripts -->
<script src="{{ url_for('static', filename='js/demo/chart-area-demo.js') }}"></script>
<script src="{{ url_for('static', filename='js/demo/chart-pie-demo.js') }}"></script>
<script>
    const MaximumRecursiveLevel = 5000;
    const RecursiveLevelHandler = ["Input", "Slider"];

    // Add event handler to recursive level handler
    for(let i=0; i<RecursiveLevelHandler.length; i++){
        document.getElementById(`ToolRecursiveLevel${RecursiveLevelHandler[i]}`).addEventListener("change", function(){
            if(this.value>MaximumRecursiveLevel){
                alert(`탐색 깊이는 ${MaximumRecursiveLevel}회를 넘을 수 없습니다.`);
                this.value = MaximumRecursiveLevel;
            }
            document.getElementById(`ToolRecursiveLevel${RecursiveLevelHandler[+ !i]}`).value = this.value;
        });
    }

    document.getElementById("ClearAllData").addEventListener("click", function(){
        let data = document.getElementsByTagName("input");
        Object.keys(data).forEach(function(key){
            switch(data[key].type){
                case "text":
                    data[key].value="";
                    break;
                case "number":
                    data[key].value="1";
                    break;
                case "range":
                    data[key].value="1";
                    break;
                case "checkbox":
                    data[key].checked=false;
                    break;
                default:
                    alert("핸들되지 않은 개체가 있습니다.");
            }
        });
    })
</script>
</body>
</html>