<div class="modal fade" id="versionModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="border-rounded shadow modal-storage">
                <h3 class="text-dark fw-bolder mb-0 font-logo">BWASP</h3>
                <p class="mb-3 text-capitalize text-muted small">The BoB Web Application Security Project</p>
                <p class="mb-0">Framework Version: <span class="fw-bold text-success">1.0</span> <span>(Up-To-Date)</span></p>
                <p class="mb-0">DB Version: <span class="fw-bold text-success">1.0</span> <span>(Needs update, <a href="#" class="text-decoration-none text-warning">Update now?</a>)</span></p>
            </div>
            <div class="border-rounded shadow mt-3">
                <button type="button" class="btn btn-success border border-white w-100" data-bs-dismiss="modal">Dismiss</button>
            </div>
        </div>
    </div>
</div>
<footer id="BWASP-Version">
    <div class="shadow border-rounded p-2 sizer center-vertical center-horizontal border border-warning">
        <p><span class="font-logo">BWASP</span> <span class="ms-2 text-muted small">Technical Preview</span></p>
    </div>
</footer>
<script type="module" src="{{ url_for('static', filename='js/page/common.js') }}"></script>