<aside class="BWASP-navigation p-3 pt-4 pb-4 sidebar shadow">
    <section class="element-top sizer element-top center-horizontal">
        <a class="text-decoration-none text-white sidebar-logo" href="/">
            <h4 class="text-decoration-none text-dark mb-0 font-logo">BWASP</h4>
            <p class="mb-0 text-muted small">Technical Preview</p>
        </a>
    </section>
    <section class="separatedTab">
        <div class="sidebar-element">
            <a href="/dashboard" class="rounded-custom" id="target-dashboard">
                <i class="bi bi-tv-fill text-primary"></i>
                Dashboard
            </a>
        </div>
        <div class="sidebar-element">
            <p class="sidebar-category">Job</p>
            <a href="/automation/options" class="rounded-custom" id="target-automation-options">
                <i class="bi bi-play-fill text-primary"></i>
                Start
            </a>
        </div>
        <div class="sidebar-element">
            <p class="sidebar-category">Report</p>
            <a href="/report/attack_vector" class="rounded-custom" id="target-common-attack_vector">
                <i class="bi bi-paperclip text-primary"></i>
                Attack Vectors
            </a>
            <a href="#" class="rounded-custom">
                <i class="bi bi-file-earmark-arrow-down-fill text-primary"></i>
                Export
            </a>
        </div>
    </section>
</aside>
<script type="module" src="/static/js/page/common.js"></script>