<div class="BWASP-navigation commonPadding">
    <a class="bg-primary text-decoration-none text-white shadow sizer element-top center-horizontal center-vertical border-rounded"
        href="/">
        <h4 class="text-decoration-none text-white mb-0 font-logo">BWASP</h4>
    </a>
    <!-- btn-toggle-nav list-unstyled fw-normal pb-1 small -->
    <div class="bg-white shadow text-dark sizer element-sidebar border-rounded separatedTab">
        <div class="sidebar-elements">
            <p class="sidebar-title">Interface</p>
            <ul class="list-unstyled mb-auto">
                <li class="sidebar-elements">
                    <p class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                        Home
                    </p>
                    <div class="collapse show" id="home-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="#" class="link-dark rounded">Overview</a></li>
                            <li><a href="#" class="link-dark rounded">Updates</a></li>
                            <li><a href="#" class="link-dark rounded">Reports</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    {% include 'components/footer.html' %}
</div>